{% extends 'base.html' %}

{%  block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}heat/css/heat.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/overcast/jquery-ui.min.css" type="text/css" media="all" />
{% endblock %}

{% block main %}
    {{ block.super }}
    <p>{{ breadcrumbs }}</p>
    {% block heatContent %}

    {% endblock %}

{% endblock %}

{%  block js %}
    {{ block.super }}
    <script src='{{ STATIC_URL }}heat/js/kinetic-v4.5.2.min.js' type='text/javascript' charset='utf-8'></script>
    <script src='{{ STATIC_URL }}heat/js/heattop.js' type='text/javascript' charset='utf-8'></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <script>
    $(document).ready(function() {
        $(".datepicker").datepicker();
    });
    </script>

    {% block heatjs %}
    {% endblock %}
{% endblock %}