{% extends 'heat/base.html' %}
{% load i18n sizeformat %}
{% block title %}{% trans "Logs" %}{% endblock %}


{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Logs") %}
{% endblock page_header %}

{% block main %}
    <h3>Select a Stack and date range to view its logs:</h3>
    <form id="log_form" class="form-row">
        <select id="stack">
            <option>Wordpress</option>
            <option>Wordpress2</option>
        </select>

        <input type="text" class="datepicker" name="start_date" size="10" value="{{ today }}" />
        -
        <input type="text" class="datepicker" name="end_date" size="10" value="{{ today }}" />

        <input type="submit" class="btn-primary btn-small" value="Submit" />
    </form>


{% endblock %}