/**** General Heat CSS ****/
label {display:inline;}
input {width:auto;}
form {margin:0;}

.launchbox {border:1px solid #ddd;padding:10px;margin-bottom:30px;background:#F5F5F5;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}

#cat_header h3 {float:left;margin-right:10px;}

.btn {display:inline;}

#ui-datepicker-div {display:none;}

/**** Heat Logs CSS ****/
#logs .log_date{width:80px;}
#logs .error {color:red;font-weight:bold;}
#logs .debug {color:green;font-style:italic;}


/**** Heat Resource Topology CSS ****/
canvas {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#topology_canvas{width:950px;float:right;background:url('../img/graphpaper1.gif');border:1px solid silver;}