/**** General Heat CSS ****/
label {display:inline;}
input {width:auto;}
form {margin:0;}
#ui-datepicker-div {display:none;}

/**** Launch Stack CSS ****/
/*.launchbox {border:1px solid #ddd;padding:10px;margin-bottom:30px;background:#F5F5F5;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}*/
#cat_header h3 {float:left;margin-right:10px;}
.launch_button {font-size:18px;padding:8px;}
.launch_table .table_caption {display:none;}


/**** Heat Logs CSS ****/
#logs .log_date{width:80px;}
#logs .error {color:red;font-weight:bold;}
#logs .debug {color:green;font-style:italic;}

/**** Topology CSS ****/
.link {stroke: #000;stroke-width: 1.5px;}
.node {cursor:pointer;}
.node text {font: 12px sans-serif;}
#info_box {position:absolute;width:300px;}
#info_box h3 {font-size:11pt;line-height:20px;}
#info_box p {margin:0;font-size:9pt;line-height:14px;}
#info_box a {margin:0;font-size:9pt;line-height:14px;}
#info_box .error {color:darkred;}