<div id="topology_canvas"></div>
<div class="clear"></div>

<div id="d3_data" data-d3_data="{{ d3_data }}">
    <div id="template">
        <pre class="prettyprint"><code>{{ d3_data }}</code></pre>
    </div>
</div>

<div id="json"></div>

<label>Stack Data:</label> {{ stack.stack_status|title }}: {{ stack.stack_status_reason }}
<div id="stack" data-stack="{{ stack }}">
    {{ stack }}
</div>
<br><br>

<label>Resource Data:</label>
<div id="resources" data-resources="{{ resources }}">{{ resources }}</div>
<br><br>

<label>Events</label>
<div id="events">{{ events }}</div>
