{% extends 'orchestration/base.html' %}
{% load i18n sizeformat %}
{% block title %}{% trans "Stack Detail" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=title %}
{% endblock page_header %}

{% block heatContent %}
<div class="row-fluid">
  <div class="span12">
  {{ tab_group.render }}
  </div>
</div>
{% endblock %}

{% block heatjs %}
<script>
$(document).ready(function() {
    InitTopology();
});

//Topology code
function InitTopology() {
    /*
    function getMousePos(canvas, evt) {
        var rect = canvas.getBoundingClientRect();
        return {
          x: evt.clientX - rect.left,
          y: evt.clientY - rect.top
        };
    };
    */
    var cv_width = $("#topology_canvas").width();
    var stage = Heat.Stage({
        container: 'topology_canvas',
        width: cv_width,
        height: 500
    });

    var layer1 = new Heat.Layer({height:Heat.rowHeight});
    var stack = new Heat.Stack({
        stage: stage,
        layer: layer1,
        stack: $("#stack").data("stack")
    });

    var layer2 = new Heat.Layer({height:Heat.rowHeight,y:(layer1.getPosition().y+layer1.getHeight())});
    var resources = $("#resources").data("resources");
    var resource_group = new Heat.Group();
    $.each(resources, function() {
       //alert(this.logical_resource_id);
        resource_group.add(new Heat.Resource({
            resource:this,
            stage:stage,
            layer:layer2
        }));
    });

}
</script>
{% endblock %}
