{% extends 'orchestration/base.html' %}
{% load i18n sizeformat %}
{% block title %}{% trans "Stack Detail" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=title %}
{% endblock page_header %}

{% block heatContent %}
<div class="row-fluid">
  <div class="span12">
  {{ tab_group.render }}
  </div>
</div>
{% endblock %}

{% block heatjs %}
<script>
var width = $("#topology").width(),
    height = 500;

var graph = $("#d3_data").data("d3_data");

var force = d3.layout.force()
    .gravity(0.1)
    .charge(-2000)
    .linkDistance(100)
    .size([width, height])
    .on("tick",tick);

var svg = d3.select("#topology").append("svg")
    .attr("width", width)
    .attr("height", height);

var nodes = force.nodes(graph.nodes);
    links = force.links(graph.links);
    node = svg.selectAll(".node");
    link = svg.selectAll(".link");
    link_dict = {};
    node_dict = {};
    node_images = {};

update();

function update(){

    node = node.data(graph.nodes);

    var nodeEnter = node.enter().append("g")
        .attr("class", "node")
        .attr("node_name", function(d){ return d.name })
        .call(force.drag);

    var node_image = nodeEnter.append("image")
        .attr("xlink:href", function(d) { return d.image; })
        .attr("x", function(d) { return d.image_x; })
        .attr("y", function(d) { return d.image_y; })
        .attr("width", function(d) { return d.image_size; })
        .attr("height", function(d) { return d.image_size; });

    nodeEnter.append("text")
        .attr("dx", function(d) { return d.text_x; })
        .attr("dy", function(d) { return d.text_y; })
        .text(function(d) { return d.name; });


    link = link.data(graph.links)

    link.enter().insert("svg:line", "g.node")
        .attr("class", "link")
        .style("stroke-width", function(d) { return Math.sqrt(d.value); });

    //Build link dictionary
    link.each(function() {
        d = this.__data__;
        link_dict[d.source + d.target] = this;
    })
    //Build node dictionary
    node.each(function(){
       d = this.__data__;
       node_dict[d.name] = this;
    });
    //Build node image dictionary
    node_image.each(function(){
       d = this.__data__;
       node_images[d.name] = this;
    });

    //Setup click action for all nodes
    node.on("click", function(d) {
       $("#info_box").html(d.info_box);
        current_info = d.name;
    });
    node.exit().remove();
    link.exit().remove();
    force.start();
}
function tick() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
}

//Load initial Stack box
$("#stack_box").html(graph.stack.info_box);

//Load initial info box, and setup to change on click
//$("#info_box").html(graph.nodes[0].info_box);
var current_info = ''; //graph.nodes[0].name;





//On Page load, set Action In Progress
var in_progress = false;
set_in_progress();

function set_in_progress() {
  node.each(function() {
       var d = this.__data__;
       if (d.in_progress == true){
           in_progress = true;
           return false;
       }
  });
}

//If status is In Progress, start AJAX polling
if (in_progress == true){
    var d3_url = '/heat/stack/get_d3_data/'+graph.stack.stack_id+'/';

    var ajax_poll = setInterval(function() {
        $.getJSON(d3_url, function(json) {
            var still_in_progress = false;
            var needs_update = false;

            //update stack box
            $("#stack_box").html(json.stack.info_box);
            //check if stack still in progress
            if (json.stack.in_progress==true){
                    still_in_progress = true;
            }

            json.nodes.forEach(function(d){
                //Check if node already exists
                if (d.name in node_dict) {
                    //Node already exists, just update it
                    //Update each nodes status, info_box, and image
                    node_dict[d.name].__data__.status = d.status;

                    console.log(node_images[d.name].__data__.image + '=?' + d.image)
                    //Status has changed, image should be updated
                    if (node_images[d.name].__data__.image != d.image){
                        node_images[d.name].__data__.image = d.image;
                        var this_image = d3.select(node_images[d.name]);
                        this_image
                                .transition()
                                .attr("x", function(d) { return d.image_x + 5; })
                                .duration(100)
                                .transition()
                                .attr("x", function(d) { return d.image_x - 5; })
                                .duration(100)
                                .transition()
                                .attr("x", function(d) { return d.image_x + 5; })
                                .duration(100)
                                .transition()
                                .attr("x", function(d) { return d.image_x - 5; })
                                .duration(100)
                                .transition()
                                .attr("xlink:href", d.image)
                                .transition()
                                .attr("x", function(d) { return d.image_x; })
                                .duration(100)
                                .ease("bounce")
                    }

                    //Status has changed, update info_box
                    node_dict[d.name].__data__.info_box = d.info_box;
                    if (current_info== d.name){
                        $("#info_box").html(d.info_box);
                    }

                } else {
                    //push new node
                    graph.nodes.push(d);
                    needs_update = true;

                    //push new links
                    json.links.forEach(function(json){
                        var exists = false;
                        graph.links.forEach(function(graph){
                            if (json.source == graph.source.instance && json.target == graph.target.instance){
                                exists = true;
                            }
                        });
                        if (exists == false){
                            graph.links.push(json);

                        }
                    });
                    //update();
                }

                //Check if ANY nodes still in progress
                if (d.in_progress==true){
                    still_in_progress = true;
                }
            });

            //if any updates needed, do update now
            if (needs_update==true){
                update();
            }

            //if no nodes still in progress, stop AJAX polling
            if (still_in_progress==false){
                clearInterval(ajax_poll);
            }
        });
    }, 5000)
}
</script>







{% comment %}/*
//Playing with Transitions, eventually add AJAX
images = [
    "/static/heat/img/stack.png",
    "/static/heat/img/stack_error.png",
    "/static/heat/img/load2.gif",
]

//Shaky/Nervous new image
node_image.each(function() {
   var this_image = d3.select(this);

    setInterval(function() {
        var image_url = images[Math.floor(Math.random()*images.length)];
        this_image.transition()
                .attr("x", function(d) { return d.image_x + 5; })
                .duration(100)
                .transition()
                .attr("x", function(d) { return d.image_x - 5; })
                .duration(100)
                .transition()
                .attr("x", function(d) { return d.image_x + 5; })
                .duration(100)
                .transition()
                .attr("x", function(d) { return d.image_x - 5; })
                .duration(100)
                .transition()
                .attr("xlink:href", image_url)
                .transition()
                .attr("x", function(d) { return d.image_x; })
                .duration(100)
                .ease("bounce")

    }, 5000)

});
*/
//Hide/Show Bouncy new image
/*
node_image.each(function() {
   var this_image = d3.select(this);

    setInterval(function() {
        var image_url = images[Math.floor(Math.random()*images.length)];
        console.log(image_url);
        this_image.transition()
                .attr("width", 0)
                .attr("height", 0)
                .duration(500)
                .ease("bounce")
                .transition()
                .attr("xlink:href", image_url)
                .transition()
                .attr("width",function(d) { return d.image_size; })
                .attr("height",function(d) { return d.image_size; })
                .duration(500)
                .ease("bounce")

    }, 5000)
});
*/



<script>
$(document).ready(function() {
    InitTopology();
});

//Topology code
function InitTopology() {
    /*
    function getMousePos(canvas, evt) {
        var rect = canvas.getBoundingClientRect();
        return {
          x: evt.clientX - rect.left,
          y: evt.clientY - rect.top
        };
    };
    */
    var cv_width = $("#topology_canvas").width();
    var stage = Heat.Stage({
        container: 'topology_canvas',
        width: cv_width,
        height: 500
    });

    var layer1 = new Heat.Layer({height:Heat.rowHeight});
    var stack = new Heat.Stack({
        stage: stage,
        layer: layer1,
        stack: $("#stack").data("stack")
    });

    var layer2 = new Heat.Layer({height:Heat.rowHeight,y:(layer1.getPosition().y+layer1.getHeight())});
    var resources = $("#resources").data("resources");
    var resource_group = new Heat.Group();
    $.each(resources, function() {
       //alert(this.logical_resource_id);
        resource_group.add(new Heat.Resource({
            resource:this,
            stage:stage,
            layer:layer2
        }));
    });

}
</script>
{% endcomment %}
{% endblock %}
