{% extends 'orchestration/base.html' %}
{% load i18n sizeformat %}
{% block title %}{% trans "Stack Detail" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=title %}
{% endblock page_header %}

{% block heatContent %}
<div class="row-fluid">
  <div class="span12">
  {{ tab_group.render }}
  </div>
</div>
{% endblock %}

{% block heatjs %}
<style>

    .link {
      stroke: #000;
      stroke-width: 1.5px;
    }

    .node {
      fill: gray;
      stroke: #fff;
      stroke-width: 1.5px;
    }

.node text {
  pointer-events: none;
  font: 10px sans-serif;
    color:red;
}
</style>


<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

var width = $("#topology_canvas").width(),
    height = 500;

//var color = d3.scale.category20();

var d3_data = $("#d3_data").data("d3_data");

var force = d3.layout.force()
    .charge(-400)
    .linkDistance(150)
    .size([width, height])

var svg = d3.select("#topology_canvas").append("svg")
    .attr("width", width)
    .attr("height", height);

var graph = d3_data;
  force
      .nodes(graph.nodes)
      .links(graph.links)
      .start();

  var link = svg.selectAll(".link")
      .data(graph.links)
    .enter().append("line")
      .attr("class", "link")
      .style("stroke-width", function(d) { return Math.sqrt(d.value); });

  var node = svg.selectAll(".node")
      .data(graph.nodes)
      .enter().append("circle")
      .attr("class", "node")
      .attr("r", function(d) { return d.radius; })
      .style("fill", function(d) { return 'green' })
      .call(force.drag);

node.append("image")
      .attr("xlink:href", "https://github.com/favicon.ico")
      .attr("x", -8)
      .attr("y", -8)
      .attr("width", 16)
      .attr("height", 16);

  node.append("title")
      .text(function(d) { return d.name; });



  node.append("text")
      .attr("x", 60)
      .attr("y", 20)
      .attr("font-family", "sans-serif")
      .attr("font-size", "20px")
      //.attr("fill", "red")
      .text(function(d) { return d.name; });

  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

  });


/*
// 1. Add three nodes and three links.
setTimeout(function() {
  var a = {id: "a"}, b = {id: "b"}, c = {id: "c"};
  nodes.push(a, b, c);
  links.push({source: a, target: b}, {source: a, target: c}, {source: b, target: c});
  start();
}, 0);

// 2. Remove node B and associated links.
setTimeout(function() {
  nodes.splice(1, 1); // remove b
  links.shift(); // remove a-b
  links.pop(); // remove b-c
  start();
}, 3000);

// Add node B back.
setTimeout(function() {
  var a = nodes[0], b = {id: "b"}, c = nodes[1];
  nodes.push(b);
  links.push({source: a, target: b}, {source: b, target: c});
  start();
}, 6000);
*/

function start() {
  link = link.data(force.links(), function(d) { return d.source.id + "-" + d.target.id; });
  link.enter().insert("line", ".node").attr("class", "link");
  link.exit().remove();

  node = node.data(force.nodes(), function(d) { return d.id;});
  node.enter().append("circle").attr("class", function(d) { return "node " + d.id; }).attr("r", 8).call(force.drag);
  node.exit().remove();

  force.start();
}


function tick() {
  node.attr("cx", function(d) { return d.x; })
      .attr("cy", function(d) { return d.y; })

  link.attr("x1", function(d) { return d.source.x; })
      .attr("y1", function(d) { return d.source.y; })
      .attr("x2", function(d) { return d.target.x; })
      .attr("y2", function(d) { return d.target.y; });
}

</script>







{% comment %}
<script>
$(document).ready(function() {
    InitTopology();
});

//Topology code
function InitTopology() {
    /*
    function getMousePos(canvas, evt) {
        var rect = canvas.getBoundingClientRect();
        return {
          x: evt.clientX - rect.left,
          y: evt.clientY - rect.top
        };
    };
    */
    var cv_width = $("#topology_canvas").width();
    var stage = Heat.Stage({
        container: 'topology_canvas',
        width: cv_width,
        height: 500
    });

    var layer1 = new Heat.Layer({height:Heat.rowHeight});
    var stack = new Heat.Stack({
        stage: stage,
        layer: layer1,
        stack: $("#stack").data("stack")
    });

    var layer2 = new Heat.Layer({height:Heat.rowHeight,y:(layer1.getPosition().y+layer1.getHeight())});
    var resources = $("#resources").data("resources");
    var resource_group = new Heat.Group();
    $.each(resources, function() {
       //alert(this.logical_resource_id);
        resource_group.add(new Heat.Resource({
            resource:this,
            stage:stage,
            layer:layer2
        }));
    });

}
</script>
{% endcomment %}
{% endblock %}
